html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: sans-serif;
  background-color: #bbada0;
}

*, ::after, ::before {
  box-sizing: border-box;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}



audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}


textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  background-color: #bbada0;

}

.container {
  display: grid;
  max-width: 400px;
  grid-template-columns: 1fr;
  margin: 0 auto;
}

.score-title {
  font-size: 1.25rem;
  text-align: center;
}

.score-title span {
  font-weight: bold;
}


.grid div {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 2em;
  border-radius: 10px;
}
.cell {
  border: 2px solid #bbada0;
  background-color: black;
  color: white;
}

.cell.cell-2 {
  background-color: #eee4da;
  color: #756d64;
}

.cell.cell-4 {

}

.cell.cell-8 {

}

.cell.cell-16 {

}

.cell.cell-32 {

}

.cell.cell-64 {

}

.cell.cell-128 {

}

.cell.cell-256 {

}

.cell.cell-512 {

}

.cell.cell-1024 {

}

.cell.cell-2048 {

}

.cell.cell-4096 {

}

.cell.cell-too-high {

}

.info {
  font-size: 0.75rem;
  color: #545454;
}

#js-result {
  padding-top: 1rem;
  text-align: center;

  font-weight: bold;
}

#js-result.lost {
  color: red;
}

#js-result.won {
  color: green;
}